<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>layout ex2</title>
  <link rel="stylesheet" href="./main.css">
</head>
<body>
  <div class="wrapper">
    <div class="slidewrapper">
      <ul class="slideContainer">
        <li class="slide">
          <h2>Slide Title</h2>
        </li>
        <!--         
        <li class="slide">
          <h2>Slide Title</h2>
        </li>
        <li class="slide">
          <h2>Slide Title</h2>
        </li> 
        -->
      </ul>
      <button id="prev">prev</button>
      <button id="next">next</button>
      <p class="pager">
        <a href="" class="active">1</a>
        <a href="">2</a>
        <a href="">3</a>
      </p>
    </div>
    <div class="newswrapper">
      <div class="news">
        <h3>News Title</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt debitis nostrum esse repudiandae laboriosam libero totam molestiae dicta, rem voluptas iste, tenetur sed assumenda mollitia molestias, voluptatem vero hic ut.</p>
      </div>
      <div class="news">
        <h3>News Title</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt debitis nostrum esse repudiandae laboriosam libero totam molestiae dicta, rem voluptas iste, tenetur sed assumenda mollitia molestias, voluptatem vero hic ut.</p>
      </div>
    </div>
    <footer>
      <h2>footer</h2>
    </footer>
  </div>
  
</body>
</html>