<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>layout ex1</title>
  <link rel="stylesheet" href="./main.css">
</head>
<body>
  <div class="wrapper">
    <h1 class="logo">Logo</h1>
    <nav>
      <h2>Navigation</h2>
    </nav>
    <div class="banner">
      <h2>Banner</h2>
    </div>
    <main>
      <aside>
        <h2>Side bar</h2>
      </aside>
      <section>
        <h2>Main Content</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio magni incidunt, nihil amet vitae nobis quaerat similique minus voluptatem officia est veniam maxime rerum aspernatur quibusdam. Impedit repellat nesciunt adipisci.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio magni incidunt, nihil amet vitae nobis quaerat similique minus voluptatem officia est veniam maxime rerum aspernatur quibusdam. Impedit repellat nesciunt adipisci.</p>
      </section>
    </main>
    <div class="works">
      <article>
        <h3>title</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo eum delectus praesentium, porro voluptas quam earum fugit perferendis itaque voluptatum magni in explicabo cupiditate facere iusto fuga quaerat expedita vel!</p>
      </article>
      <article>
        <h3>title</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo eum delectus praesentium, porro voluptas quam earum fugit perferendis itaque voluptatum magni in explicabo cupiditate facere iusto fuga quaerat expedita vel!</p>
      </article>
      <article>
        <h3>title</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo eum delectus praesentium, porro voluptas quam earum fugit perferendis itaque voluptatum magni in explicabo cupiditate facere iusto fuga quaerat expedita vel!</p>
      </article>
      
    </div>
    <footer>
      <h2>Footer</h2>
    </footer>
  </div>
   
</body>
</html>